/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

/* Change the color of links on hover */
#myNavbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#myNavbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  background-color: lavender;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height: 200px;
}
#myCarousel{
  padding-top: 0px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
