<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-7 footerleft ">
        <div class="logofooter"> eShop</div>
        <p>eShop is a mobile shop which has all the mobile products like IPhone, Samsung, Nokia, ..</p>
        <p><i class="fa fa-map-pin"></i> 555 Ngô Quyền, Sơn Trà, TP.Đà Nẵng</p>
        <p><i class="fa fa-phone"></i> Phone (VN) : 0169 4402 950</p>
        <p><i class="fa fa-envelope"></i> E-mail : nguyenquoc.tink32c@gmail.com</p>

      </div>
      <div class="col-md-3 col-sm-7 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-7 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/nguyenquoc0310" data-tabs="timeline" data-height="300"
             data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true"
             data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a
              href="https://www.facebook.com/facebook">Facebook</a></blockquote>
            <iframe width="390" height="200" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNxyR_SsYQjERE1AVYHALGNU&key=AIzaSyCdGxhe8_kolL_So-hIicEU4c-lzxOA1yc"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with QuocN</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">nqshop.herokuapp.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
