<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 class="text-center">About me</h3>
<div class="card">
  <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-1/c49.41.511.511/s160x160/300470_249544348429598_2136490118_n.jpg?oh=e22edb48c7e605932477e5f148d58065&oe=5A74B99A" alt="John" style="width:100%">
  <h1>Nguyễn Quốc</h1>
  <p class="title">Developer in FSoft</p>
  <p>University Of Science</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/nguyenquoc0310"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>
