<h3>Product detail</h3>

<div class="item-photo col-sm-6">
  <img style="max-width:100%;" src="../../assets/image/product/{{productDetail.image}}" alt=""
       class="img-responsive style_prevu_kit"/>
</div>
<div style="border:0px solid gray" class="col-sm-6">
  <!-- Datos del vendedor y titulo del producto -->
  <h3>{{productDetail.title}}</h3>
  <h5 style="color:#337ab7">
    <small style="color:#337ab7" *ngIf="productDetail.commentNum">
      ({{productDetail.commentNum}} comments)
    </small>
  </h5>

  <h3 class="text-danger">{{productDetail.price | number}} đ</h3>

  <div class="section" style="padding-bottom:5px;">
    <h6 class="title-attr">
      <small>CAPITAL</small>
    </h6>
    <div *ngIf="capitalFlg==1">
      <div class="btn btn-info" (click)="capitalFlg=2">16 GB</div>
      <div class="btn btn-default" (click)="capitalFlg=2">32 GB</div>
    </div>
    <div *ngIf="capitalFlg==2">
      <div class="btn btn-default" (click)="capitalFlg=1">16 GB</div>
      <div class="btn btn-info" (click)="capitalFlg=1">32 GB</div>
    </div>
  </div>
  <div class="section" style="padding-bottom:20px;">
    <h6 class="title-attr">
      <small>QUANTITY</small>
    </h6>
    <div>
      <div class="btn btn-default"><span class="glyphicon glyphicon-minus" (click)="qty>0?qty=qty-1:0;"></span></div>
      <input type="number" [(ngModel)]="qty"/>
      <div class="btn btn-default"><span class="glyphicon glyphicon-plus" (click)="qty>=0?qty=qty+1:0;"></span></div>
    </div>
  </div>

  <!-- Botones de compra -->
  <div class="section">
    <button class="btn btn-success"
            data-toggle="modal"
            data-target="#myModal"
            (click)="addToCart(productDetail, qty)">
      <span
        class="glyphicon glyphicon-shopping-cart"
        aria-hidden="true">
      </span> Add To Cart
    </button>
  </div>

  <div class="section">
    <button class="btn btn-warning">
        <span
          [routerLink]="['/product']" routerLinkActive="active"
          class="glyphicon glyphicon-share" style="cursor:pointer;" aria-hidden="true">
        </span>
      Continue Shopping
    </button>
  </div>
</div>

<div>
  <ul class="nav nav-tabs">
    <li class="active">Description</li>
    <li>Features</li>
  </ul>
  <div style="width:100%;border-top:1px solid silver">
    <p style="padding:15px;">
      <small>
        {{productDetail.description}}
      </small>
    </p>
  </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dialog info</h4>
      </div>
      <div class="modal-body">
        <p>
          This product has been added to list carts.</p>
      </div>
      <div class="modal-footer">
        <a [routerLink]="['/carts']" routerLinkActive="active" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-shopping-cart"></span> View cart
        </a>
        <a class="btn btn-warning" data-dismiss="modal">
          <span class="glyphicon glyphicon-repeat"></span> Continue Shopping
        </a>
      </div>
    </div>
  </div>
</div>


