<div class="container">
  <h1>Product New</h1>
  <form>
    <div class="form-group">
      <label>Title </label>
      <input type="input" class="form-control" name="title" placeholder="Title" [(ngModel)]="product.title" required>
    </div>
    <div class="form-group">
      <label>Description </label>
      <input type="input" class="form-control" name="description" placeholder="Description"
             [(ngModel)]="product.description" required>
    </div>
    <div class="form-group">
      <label>Price </label>
      <input type="input" class="form-control" name="price" placeholder="Price" [(ngModel)]="product.price" required>
    </div>
    <div class="form-group">
      <label>Quantity </label>
      <input type="input" class="form-control" name="quantity" placeholder="Quantity" [(ngModel)]="product.quantity"
             required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createNewProduct(product)">Submit</button>
  </form>
</div>
