<ul class="nav nav-tabs" *ngIf="mode === 1">
  <li class="active"><a (click)="changeMode()">Product</a></li>
  <li><a (click)="changeMode()">Category</a></li>
</ul>

<ul class="nav nav-tabs" *ngIf="mode === 2">
  <li><a (click)="changeMode()">Product</a></li>
  <li class="active"><a (click)="changeMode()">Category</a></li>
</ul>

<app-product-list
  [products]="products"
  (onDeleteProductEvent)="deleteProduct($event)"
  (onUpdateProductEvent)="updateProductSelected($event)"
  (onShowNewProductEvent)="showNewProduct($event)"
  *ngIf="mode == 1"
>
</app-product-list>

<app-product-new *ngIf="mode == 1 && isNew && !isUpdate"
                 (onCreateProductEvent)="createNewProduct($event)">
</app-product-new>

<app-product-edit
  *ngIf="mode == 1 && productSelected && isUpdate && !isNew"
  [productEdit]="productSelected"
  (onProductUpdateEvent)="submitProduct($event)">
</app-product-edit>

<app-category-list
  *ngIf="mode == 2"
  [categories]="categories"
  (onDeleteCategory)="deleteCategory($event)"
  (onShowNewCategory)="showNewCategory($event)"
  (onUpdateCategorySelected)="updateCategorySelected($event)"
>
</app-category-list>

<app-category-new *ngIf="mode == 2 && isNew && !isUpdate"
                 (onCreateNewCategory)="createNewCategory($event)">
</app-category-new>

<app-category-edit
  *ngIf="mode == 2 && categorySelected && isUpdate && !isNew"
  [category]="categorySelected"
  (onUpdateCategoryEvent)="submitCategory($event)">
</app-category-edit>



