<ul class="nav nav-tabs" xmlns="">
  <li class="active"><a data-toggle="tab" href="#product" (click)="isNew=false;isUpdate=false;">Product</a></li>
  <li><a data-toggle="tab" href="#category" (click)="isNew=false;isUpdate=false;">Category</a></li>
</ul>
<div class="tab-content">
  <div id="product" class="tab-pane fade in active">
    <app-product-list
      [products]="products"
      (onDeleteProductEvent)="deleteProduct($event)"
      (onUpdateProductEvent)="updateProductSelected($event)"
      (onShowNewProductEvent)="showNewProduct($event)"
    >
    </app-product-list>

    <app-product-new *ngIf="isNew && !isUpdate"
                     (onCreateProductEvent)="createNewProduct($event)">
    </app-product-new>

    <app-product-edit
      *ngIf="productSelected && isUpdate && !isNew"
      [productEdit]="productSelected"
      (onProductUpdateEvent)="submitProduct($event)">
    </app-product-edit>
  </div>

  <div id="category" class="tab-pane fade">
    <app-category-list
      [categories]="categories"
      (onDeleteCategory)="deleteCategory($event)"
      (onShowNewCategory)="showNewCategory($event)"
      (onUpdateCategorySelected)="updateCategorySelected($event)"
    >
    </app-category-list>

    <app-category-new *ngIf="isNew && !isUpdate"
                      (onCreateNewCategory)="createNewCategory($event)">
    </app-category-new>

    <app-category-edit
      *ngIf="categorySelected && isUpdate && !isNew"
      [category]="categorySelected"
      (onUpdateCategoryEvent)="submitCategory($event)">
    </app-category-edit>
  </div>
</div>




