<div class="container">
  <h1>Product Update</h1>
  <form>
    <div class="form-group">
      <label>Title </label>
      <input type="input" class="form-control" name="title" placeholder="Title" [(ngModel)]="productEdit.title">
    </div>
    <div class="form-group">
      <label>Description </label>
      <input type="input" class="form-control" name="description" placeholder="Description"
             [(ngModel)]="productEdit.description">
    </div>
    <div class="form-group">
      <label>Price </label>
      <input type="input" class="form-control" name="price" placeholder="Price" [(ngModel)]="productEdit.price">
    </div>
    <div class="form-group">
      <label>Quantity </label>
      <input type="input" class="form-control" name="quantity" placeholder="Quantity"
             [(ngModel)]="productEdit.quantity">
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateProduct(productEdit)">Submit</button>
  </form>
</div>
