<h3>Products</h3>
<div *ngIf="products.length > 0">
  <div class="row">
    <div class="col-md-4"
         *ngFor="let product of products | paginate : {itemsPerPage: pageSize, totalPage:total, currentPage:p}">
      <div class="thumbnail">
        <img src="../../assets/image/product/{{product.image}}" alt=""
             class="img-responsive"/>
        <div class="caption">
          <h4><a [routerLink]="['/product', product._id]" routerLinkActive="active">{{product.title}}</a></h4>
          <h4 class="text-danger">{{product.price | number}} đ</h4>
          <div class="text ellipsis">
            <span class="text-concat">
              {{product.description}}
            </span>
          </div>
        </div>
        <div>
            <span *ngIf="product.commentNum" class="pull-right text-muted">
              <span class="glyphicon glyphicon-comment "></span> {{product.commentNum}} comments
            </span>
        </div>
        <div class="space-ten"></div>
        <div class="space-ten"></div>
        <div class="btn-ground text-center">
          <button type="button" class="btn btn-primary" (click)="addToCart(product, 1)" data-toggle="modal"
                  data-target="#myModal"><i class="fa fa-shopping-cart"></i>
            Add To Cart
          </button>
          <button type="button" class="btn btn-primary"
                  [routerLink]="['/product', product._id]" routerLinkActive="active"><i
            class="fa fa-search"></i> Quick View
          </button>
        </div>
        <div class="space-ten"></div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="products.length > 6">
    <div class="col-md-12">
      <pagination-controls
        (pageChange)="p =$event"
        maxSize="9"
        directionLinks="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Dialog info</h4>
        </div>
        <div class="modal-body">
          <p>
            This product has been added to list carts.</p>
        </div>
        <div class="modal-footer">
          <a [routerLink]="['/carts']" routerLinkActive="active" class="btn btn-info" data-dismiss="modal">
            <span class="glyphicon glyphicon-shopping-cart"></span> View cart
          </a>
          <a class="btn btn-warning" data-dismiss="modal">
            <span class="glyphicon glyphicon-repeat"></span> Continue Shopping
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="products.length == 0">
  <p>Have no any product.</p>
</div>
