.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.thumbnail img{
  max-height: 150px;
}

.description {
  text-align:justify;
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
  overflow: hidden;
  line-height: 20px;
}
.description:after {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  content: "...";
  text-align: left;
  width: 15px;
  line-height: 20px;
}

.notes {
  padding-left: 20px;
}

.productFont{
  font-family: "Times New Roman", Georgia, Serif;
}

.modalProduct {
  text-align:justify;
  display: block;
  width: 100%;
  height: 120px;
  position: relative;
  overflow: hidden;
  line-height: 20px;
}
.modalProduct:after {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  content: "...";
  text-align: left;
  width: 15px;
  line-height: 20px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
