<div>
  <div>
    <div class="recent">
      <div class="recent-comment" *ngFor="let comment of comments">
        <div>
          <span class="text-primary"><b>{{comment.name}}</b></span>
          <label class="date sub-text">on {{comment.date | date}}</label>
        </div>
        <div>
          <span>{{comment.comment}}</span>
        </div>
      </div>
    </div>
    <div class="recent" *ngIf="comments.length == 0">
      <p>No comments.</p>
    </div>
  </div>

  <h3>COMMENT BOX</h3>
  <div class="well">
    <div id="wrap">
      <div>
        <div class="row">
          <div class="col-md-12">
            <form method="POST">
              <div class="alert alert-danger" *ngIf="isError===true">
                    Please input your name and comment !
              </div>
              <div class="form-group">
                <label>Name:</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control" name="name" placeholder="Nguyễn Quốc"
                         [(ngModel)]="comment.name">
                </div>
              </div>
              <div class="form-group">
                <label>Comment:</label>
                <textarea class="form-control" rows="5" name="comment" [(ngModel)]="comment.comment"></textarea>
              </div>
              <input type="submit" id="commentSubmit" name="dsubmit" (click)="createComment()" value="Submit Comment">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
